<input type="text" name="zip-search" id="zip-search" /> <button id="zip-search">Submit</button>
<br/>
<div id="centerThis">
  <ul id="displayData" class="collapsible" data-collapsible="accordion"></ul>
</div>
<br><br>
<div id="userSignUp">
  <br><br>
  <%= form_tag("/welcome", method: "create") do %>
    <%= label_tag(:name, "Name:") %>
    <%= text_field_tag(:name) %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= label_tag(:password_confirmation, "Confirm Password:") %>
    <%= password_field_tag(:password_confirmation) %>
    <%= submit_tag("Sign Up") %>
  <% end %>
</div>

<div id="userLogin">
  <br><br>
  <%= form_tag(welcome_login_path, method: "patch") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Log in") %>
  <% end %>
</div>
